{% extends 'base.html.twig' %}

{% block title %}MP3ify
{% endblock %}


{% block body %}
	{% include "header.html.twig" %}
	<div class="container mt-5">
		<div class="row">
			{% for album in albums %}
				<div class="col-md-4">
					<a href="{{ path('album_show', {'id': album.id}) }}" class="card-link">
						<div class="card mb-4 shadow-sm">
							{% if album.images is not empty %}
								<img src="{{ album.images[0].url }}" class="card-img-top" alt="{{ album.name }}">
							{% endif %}
							<div class="card-body">
								<p class="card-text">{{ album.name }}</p>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
