{# templates/spotify/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	<h1>Liste des albums Spotify</h1>

	<ul>
		{% for album in albums %}
			<li>
				<h2>{{ album.name }}</h2>
				{% if album.images is not empty %}
					<img src="{{ album.images[0].url }}" alt="{{ album.name }}">
				{% endif %}

			</li>
		{% endfor %}
	</ul>
{% endblock %}
